@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    background-image: url(https://images4.alphacoders.com/108/108228.jpg);
    background-repeat:inherit;
    background-size: cover;
    overflow:scroll;
    flex-wrap: wrap;
}


.date-container{
    
    text-align: center;
    font-weight: 50;
    font-size: 25px;;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
.date-container .time{
    text-shadow: 5px 10px rgba(6, 40, 112, 0.829);
    font-size: 95px;
    font-weight: 50px;
}

.date-container #am-pm{
    font-size: 35px;
    margin-left: 10px;
}

.date-container .date{
    font-size: 24px;
}

.container{
    width: 390px;
    height : 105px;
    background: rgba(170, 201, 253, 0.6);
    padding: 28px 32px;
    overflow: hidden;
    border-radius:  18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    background-color: rgba(170, 200, 253, 0);
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 22px;
    font-weight: 500;
    
    color: #06283d;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283d;
    background: #dff6ff;
    border-radius: 50%;
    font-size:  22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #2d86bd;
}

.search-box svg{
    color: #094266;
    font-size: 28px ;
}

.weather-box{
    text-align: center;

}

.weather-box img{
    width: 60%;
    margin-top: 30px;
    

}

.weather-box .temperature{
    position: relative;
    color:#06283d;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
}

.weather-box .temperature span{
    position: absolute;
    margin: 4px;
    font-size: 1.5rem;

}

.weather-box .description{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;

}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;

}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-self: flex-end;
}

.weather-details svg{
    color: #06283d;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;

}

.weather-details span{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;

}

.weather-details p{
    color:#06283d;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.future-forcast{
    padding: 20px;
    bottom: 0;
    display:flex;
    color:#eee;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.future-forcast .today{
    display:flexbox;
    background: rgba(38, 31, 136, 0.24);
    align-items: center;
    justify-content: center;
    border: 1px solid #4fb8e665;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 5px 10px rgba(6, 40, 112, 0.829);
}

.future-forcast .today .day{
    padding: 5px 15px;
    background: #5353c9;
    border-radius: 50px;
    text-align: center;
}

.future-forcast .today .temp{
    font-size: 20px;
    padding-top: 15px;

}
.future-forcast .weather-forcast{
    display: flex;
}

.weather-forcast .weather-forcast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background: rgba(1, 15, 15, 0.496);
    border-radius: 27px;
    margin: 0 10px;
    padding: 10px;
}

.weather-forcast .weather-forcast-item .day{
    padding: 5px 15px;
    background: #4c4c77;
    border-radius: 50px;
    text-align: center;
}
.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}

@media only screen and (max-width:730px){
    .future-forcast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .body{
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .date-container{
        position: relative;
    }
}
